@{
    ViewBag.Title = "Fly with Us";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Welcome to Fly with Us!</h2>
<p>
    On this website you can book a private flight to most major European countries. <br /><br />
    To view the full list of flights, please click on the 'Flights' tab above.<br /><br />
    Each booking is limited to 4 people and passengers must only be between the ages of 18 and 75.<br /><br />
    Please register/login to your account to create, update or delete a booking.<br /><br />
</p>
<p>
    <img src="Content/a380.jpg" height="577" width="864" alt="Airbus a380" />
</p>